.time-container {
    width: 100%;
    margin-block-start: 5em;
    margin-block-end: 2em;
    display: flex;
    justify-content: center;
}

.time-container span {
    font-size: 3.75rem;
    font-weight: 900;
    text-align: center;
}
